// FONTS 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
$poppins: 'Poppins', sans-serif;

// COLORS
$white: #ffffff;
$black: #333333;
$blue: #03a9f4;
$red: #f43648;
$light-blue: #03a8f4b4;
$light-red: #f43649d3;